<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="application">
            <directory>./ApplicationTest</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="../reports/testsuites.xml"
             logIncompleteSkipped="false"/>
    </logging>
</phpunit>